@media screen and (max-width: 767px) {  /* @media for more specificity */
    html[lang] {
        font-size: 1.8vw;
        --borders: 2px;
    }

    html {
        position: fixed;
        --form-width: 100vw;
    }

    body {
        touch-action: none;
    }

    .logo > svg { width: 22vw; }

    .layout[data-layout="main"] {
        height: var(--app-height);
    }

    .feature_pane {
        line-height: 0.69;
        transform: translateY(9%) translateY(-0.9rem);
    }
    .layout.horizontal > .feature_pane{
        line-height: 0.65;
        transform:  rotate(-180deg) translateX(-9.5%) translateX(0.9rem);
    }

    .gear {
        width: 100%;
    }
    .gear .icon {
        width: 8vw;
    }
}