@font-face {
    font-family: 'Morganite';
    src: url('Morganite-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('Thunder-ExtraLightLCItalic.woff2') format('woff2'),
         url('Thunder-ExtraLightLCItalic.woff') format('woff');
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Sentient';
    src: url('Sentient-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

