@font-face {
    font-family: 'Morganite';
    src: url('Morganite-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ThunderThinIta';
    src: url('Thunder-ThinLCItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Thunder-ThinLCItalic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Sentient';
    src: url('Sentient-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

